.imageContainer {
  width: 100%;
  aspect-ratio: 3/2;

  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;

  overflow: hidden;
}

.imagePlaceholder {
  filter: blur(32px);
  transform: scale(1.5);

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.paragraph {
  font-size: 16px;
  margin-top: 16px;
}

.anchor {
  font-size: 16px;
  text-decoration: underline;
  margin-top: 8px;
}

.list {
  margin-top: 16px;
  margin-bottom: 0px;
}

.listItem {
  font-size: 16px;
}

.blockquote {
  margin: 24px;
  padding-left: 16px;

  border-left: 2px var(--white) solid;
}

.blockquote > p {
  font-size: 16px;
  font-style: oblique;

  margin-top: 0px;
}