.container {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex: 1;

  padding: 48px 96px;
}

.iframe {
  width: 100%;
  height: 100%;
}