.main {
  display: flex;
  flex-direction: column;

  padding: 32px 24px;
}

.heading {
  display: flex;
  flex-direction: row;
  gap: 16px;

  /* Align to baseline of heading text */
  align-items: baseline;
}