.main {
  display: flex;
  flex-direction: column;

  padding: 32px 24px;
}

.heading {
  display: flex;
  flex-direction: row;
  gap: 16px;

  /* Align to baseline of heading text */
  align-items: baseline;
}

.columns {
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex: 1;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
}

@media only screen and (max-width: 720px) {
  .main {
    padding: 32px 16px;
    gap: 48px;
  }

  .main p {
    display: none;
  }

  .columns {
    flex-direction: column;
    gap: 48px;
  }

  .column {
    gap: 48px;
  }
}