.rootContainer {
  display: flex;
  flex-direction: row;

  background-color: var(--white);
  min-height: 100vh;
  justify-content: center;
}

.rootContainer p {
  color: var(--background);
}

.rootContainer a {
  color: var(--background);
}

.rootContainer h1 {
  color: var(--background);
}

.rootContainer h2 {
  color: var(--background);
}

.rootContainer h3 {
  color: var(--background);
}

.rootContainer ol {
  color: var(--background);
}

.rootContainer ul {
  color: var(--background);
}

.rootContainer li {
  color: var(--background);
}