.container {
  display: flex;
  flex-direction: column;
  gap: 140px;

  width: var(--desktop-sidebar-width);

  padding-left: 16px;
}

.container path {
  fill: var(--cyan)
}

.navigationButtons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.selected {
  font-weight: bold;
  color: var(--cyan);
}