.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding: 36px 24px;

  /* Grow with content, to accommodate for sticky scrolling of TOC */
  min-height: 100vh;
  flex: 1 0;

  max-width: 304px;
}

.tableOfContents {
  display: flex;
  gap: 16px;
  
  position: sticky;
  top: 24px;

  flex-direction: column;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  
  flex: 1;
}