.anchorLinkWrapper {
  display: flex;
  flex-direction: column;
  gap: 0px;

  width: 100%;
}

.anchorWrapper {
  margin-top: 24px;

  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding-top: 14px;
  padding-bottom: 8px;

  width: 100%;

  /* position: sticky; */
  /* top: 0; */

  /* Make it float above images */
  z-index: 1;
}

.text {
  width: 100%;
}

.list {
  margin: 0px;
  padding-left: 32px;
}

.orderedList > li::marker {
  font-family: 'Space Mono', monospace;
  font-size: 16px;
}

.pre {
  display: flex;
  flex-direction: column;

  width: 100%;
  white-space: pre-wrap;
  word-break: break-all;
}

.pre > code {
  display: flex;
  width: 100%;

  flex-direction: column;
}

.imageContainer {
  width: 100%;
  aspect-ratio: 3/2;

  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
}
