.anchorWrapper {
  margin-top: 24px;

  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding-top: 14px;
  padding-bottom: 8px;

  width: 100%;

  position: sticky;
  top: 0;
}

.text {
  width: 100%;
}