.container {
  z-index: 2;
  background-color: var(--background);

  display: flex;
  flex-direction: row;

  position: absolute;
  left: 0;
  right: 0;

  min-height: 100vh;
  flex: 1;
}

.exitButton {
  display: flex;
  flex-direction: column;

  padding: 32px;

  position: fixed;
  right: 0px;
  top: 0px;

  background-color: var(--background);
}

.exitButtonIcon path {
  fill: var(--white);
}

.leftSidebar {
  display: flex;
  flex-direction: column;
  padding-top: 112px;
  padding-left: 16px;

  width: 254px;
  
  min-height: 100vh;
  position: relative;
}

.tableOfContents {
  display: flex;
  flex-direction: column;
  gap: 16px;

  position: sticky;
  top: 112px;
  left: 0;
}

.tableOfContents a {
  color: var(--gray2)
}

.rightSidebar {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;

  padding-top: 112px;

  width: 254px;

  min-height: 100vh;
  position: relative;
}