.container {
  z-index: 2;
  background-color: var(--background);

  display: flex;
  flex-direction: row;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  min-height: 100vh;
}

.exitButton {
  display: flex;
  flex-direction: column;

  padding: 16px;

  position: absolute;
  right: 0px;
  top: 0px;

  background-color: var(--background);
}

.exitButtonIcon path {
  fill: var(--white);
}

.leftSidebar {
  display: flex;
}