.container {
  display: flex;
  flex-direction: column;

  flex: 1;

  padding-top: 96px;

  padding-bottom: 144px;
}

.container p {
  font-size: 16px;
  margin-top: 8px;
}

.container a {
  font-size: 16px;
  text-decoration: underline;
  margin-top: 8px;
}

.container ul {
  margin-top: 8px;
  margin-bottom: 0px;
}

.container li {
  font-size: 16px;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding-top: 0px;

    padding-left: 16px;
    padding-right: 16px;

    padding-bottom: 16px;
  }
}